body {
	display: flex;
	flex-direction: column;
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	opacity: 0.9;
	position: relative;
	margin: 0px; /*NOTE 1*/
	align-items: center; /*NOTE 3*/
}
header {
	display: flex;
	position: fixed;
	background-color: black;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	align-items: center;
}
#logobox { /*NOTE 2*/
	display: flex;
	flex-grow: 1;
}
#tea-cozy-logo {
	height: 50px;
	padding: 9.5px 10px;
}
.nav {
	padding: 0px 8px;
}
.text {
	color: seashell;
}
.black-background {
	background-color: black;
}
.headliner { /*ISSUE 1*/
	display: flex;
	flex-direction: column;
	align-items: center;
	width: inherit;
}
.tomimg {
	width: 300px;
	height: 200px;
}

/*Containers*/
#master-container {
	display: flex;
	margin-top: 70px;
	flex-direction: column;
	width: 1200px;
	align-items: center;
}

#top-container {
	background-image: url(../images/img-mission-background.jpg);
	display: flex;
	width: inherit;
	height: 700px;
	justify-content: center;
	align-items: center;
}
#middle-container {
	display: flex;
	width: 1000px;
	justify-content: center;
}
#tea-of-month {
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.padtop10 {
	padding: 10px 0px;
}

#bottom-container {
	background-image: url(../images/img-locations-background.jpg);
	display: flex;
	width: inherit;
	height: 500px;
}

/*Contacts*/
#contacts-container { /*ISSUE 2*/
	display: flex;
	flex-direction: column;
	height: 200px;
	align-items: center;
}

/*COPYTIGHT*/
#copyright-container { /*ISSUE 3*/
	display: flex;
	width: inherit;
	justify-content: flex-start;
}

/*testing properties*/
.blocky{
	border: 1px solid white;
}
.test {
	color: white;

/*	ISSUES
ISSUE 1: padding of .headliners: how do remove excess top and bottom padding?;
ISSUE 2: element top-bottom padding (or spacing) causes the phone number to exceed the bounds set forth in the redline specs: how do I fit all 'Contacts' elements witin the bounds of height: 200px?;
ISSUE 3: the left margin of the copyright container (REDLINE SPECIFIES 20px) causes its container to protrude from the master container: how do I keep the 'Copyright' container within the bounds of the 'master' container?;
*/

/*	NOTES
NOTE 1: remove gaps around screen;
NOTE 2: properly arrange header items;
NOTE 3: by using flex-direction column, justify content and align-items switch identity;
*/