body {
	display: flex;
	flex-direction: column;
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	opacity: 0.9;
	position: relative;
	margin: 0px; /*remove gaps around screen*/

}
header {
	display: flex;
	position: fixed;
	background-color: black;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	align-items: center;
}
#logobox {
	display: flex;
	flex-grow: 1;
}
#tea-cozy-logo {
	height: 50px;
	padding: 9.5px 10px;
}
.nav {
	padding: 0px 8px;
	color: gray;
}

/*Master Container*/
#master-container {
	display: flex;
	margin-top: 70px;
	flex-direction: column;
	width: 1200px;
}
#top-container {
	display: inherit;
	width: inherit;
	height: 700px;
}
#middle-container {
	display: inherit;
	width: 1000px;
}
#bottom-container {
	display: inherit;
	width: inherit;
	height: 500px;
}
#contacts-container {
	display: inherit;
	height: 200px;
}
#copyright-container {
}

/*testing properties*/
.blocky{
	border: 1px solid white;
}
.test {
	color: white;